{% macro render_field(field) %}
  <dt>{{ field.label }} </dt>
  <dd>{{ field(class_="input-xlarge")}}
  {% if field.errors %}
  <div class="alert alert-error">
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  </dd>
{% endmacro %}

{% macro prefix_field(field, pref, place) %}
                {% if place %}
                <div class="input-prepend">
                    <dt>{{ field.label }}</dt>
                    <dd>
                    <span class="add-on">{{ pref }}</span>
	                {{field(id="prependedInput")}}
	                </dd>
                </div>
                {% else %}
                <div class="input-append">
                    <dt>{{ field.label }}</dt>
                    <dd>
                    {{field(id="appendeddInput")}}
                    <span class="add-on">{{ pref }}</span>
	                </dd>
                </div>
                {% endif %}

  {% if field.errors %}
  <div class="alert alert-error">
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endmacro %}