{% extends "base.html" %}
{% block title %} Добавить поле {% endblock %}
{% from "_formhelpers.html" import render_field,prefix_field %}
  {% block content %}
	<h3 >[Добавить поле]</h3>
	<br>
	  <div class="span5">
	    <form method="POST" enctype="multipart/form-data" action={{ url_for("process_field") }} >
	        {{ render_field(form.org_name) }}
	        {{ render_field(form.address) }}
	        <dt>Загрузите фотографии поля</dt>
            <dd><input type="file" name="file[]" multiple=""></dd> <br>
            {{ prefix_field(form.price,"тг.", False) }}
            {{ prefix_field(form.phone, "+7", True) }}
            {{ prefix_field(form.phone1, "+7", True) }}
            {{ prefix_field(form.phone2, "+7", True) }}
            {% for facility in form.facilities %}
                <dt>{{ facility.label }}</dt>
                <dd>{{ facility(class_="inline") }}</dd>
            {% endfor %}
            <br>
            <div class="control-group">
                <input type="submit" class="btn btn-primary" value="Добавить">
            </div>
	    </form>
      </div>
  {% endblock %}