{% extends "base.html" %}

{% block title %} Все поля {% endblock %}

{% block content %}
    <h1>Все поля</h1>
    <ul>
        {% for field in fields %}
        <li>Поле на <a href={{ url_for("field_profile", id=field["_id"]) }}> {{ field["address"] }} </a> от компании {{ field["organization"] }}</li>
        {% endfor %}
    </ul>

{% endblock %}