{% extends "base.html" %}
{% block title %} Все пользователи {% endblock %}
{% block content %}
    <h3>Все пользователи</h3>
    <ul>
        {% for user in users %}
        <li><a href={{ url_for("user_info", id=user['_id']) }}>{{ user['phone'] }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}