<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <link rel="stylesheet" media="screen" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" media="screen" href="/static/css/bootstrap-responsive.min.css" type="text/css" />
    <script language="javascript" src="/static/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="row-fluid">
      <h1 align="center">[Easy booking]</h1>
      <div class="span4 offset3">
	    <ul class="nav nav-pills">
	        <li><a href="/">[Главная]</a></li>
	        {% if current_user.is_authenticated() %}
	        <li><a href={{ url_for("home") }}>[Личный кабинет]</a></li>
	        {% endif %}
	        <li><a href="#">[Контакты]</a></li>
	    </ul>
      </div>
      <div class="span2 offset10">
        {% if not current_user.is_authenticated() %}
	    <a href={{ url_for("login") }}>Вход</a>
	    <a href={{ url_for('reg') }}>Регистрация</a>
        {% else %}
	    <a href={{ url_for('logout') }}>Выйти</a>
        {% endif %}
      </div>
    </div>
    <div class="span3">
      <ul class="nav nav-pills nav-stacked">
	    <li class="active"><a href="#">Hello</a></li>
	    <li><a href="#">Info</a></li>
	    <li><a href="#">Asd</a></li>
      </ul>
    </div>
    <div class="span7 offset1">
      <div class="row-fluid">
        {% block content %} {% endblock %}
      </div>
    </div>
  </body>
</html>


