{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %} Change password {% endblock %}
  {% block content %}
      <h2>[Войдите]</h2>
      <form method="POST" action={{ url_for('change') }}>
	    <dl>
	        {{ render_field(form.old_password) }}
	        <p class="text-error">{{ error }}</p>
	        {{ render_field(form.new_password) }}
	        {{ render_field(form.confirm) }}
	    </dl>
	    <input class="btn btn-primary" type="submit" value="Изменить">
      </form>
  {% endblock %}
