{% extends "base.html" %}
{% block title %} {{ field['organization'] }} {% endblock %}
  {% block content %}

    {% for image_path in field['file_names'] %}
       <img class="img-rounded" src={{ path + image_path }} >
    {% endfor %}
    <p><b>Организация:</b>{{ field['organization'] }}</p>
    <p><b>Адресс:</b>{{ field['address'] }}</p>
    <p><b>Номер:</b>{{ field['phone'] }}</p>
    <p><b>Дополнительные номера:</b>{{ field['phone1'] }}, {{ field['phone2'] }}</p>
    <p><b>Условия:</b>{% for facility in field['facilities'] %}
        {{ facility }},
    {% endfor %}
    </p>
      <a class="btn btn-primary" href={{ url_for("field_edit", id=field['_id']) }} >Изменить</a>

  {% endblock %}