{% extends "base.html" %}
{% block title %} {{ current_user.dic['name'] }} {% endblock %}
  {% block content %}
      <h3>[Личный кабинет]</h3>
      <br>
      <p class="text-success">{{ message }}</p>
      <div class="span5">
          <p class="lead">[Контактная информация]</p>
	      <p><strong>[Имя]</strong></p>

	      <p>{{  current_user.dic['name'] }}<a>[изменить]</a></p><br>
	      <p><strong>[Тел. номер]</strong></p>
	      <p>{{  current_user.dic['phone'] }}<a>[изменить]</a></p>
	    </div>
	    <div class="span5 offset1">
	      <p class="lead">[Другие дейстия]</p>
          <a href={{ url_for("change_pass") }}>Изменить пароль</a> <br> <br>
          <a href="#">История бронирования</a> <br> <br>
          {% if current_user.dic["role"] == 1 %}
              <a href={{ url_for("provider_notify") }}>Я владелец поля</a> <br> <br>
          {% endif %}
          {% if current_user.dic["role"] == 2 and fields != None %}
            <a href={{ url_for("add_field") }}>Создать поле</a> <br> <br>
            <p class="lead">[Ваши поля]</p>
                {% for field in fields %}
                    <a href={{ url_for("field_profile", id=field['_id']) }}>{{ field['address'] }}</a> <br> <br>
                {% endfor %}
	      {% endif %}

          {% if current_user.dic["role"] == 3 %}
            <a href={{ url_for("add_field") }}>Создать поле</a> <br> <br>
            <a href={{ url_for("admin_notifs") }}>Оповещения</a>
	      {% endif %}
	    </div>
  {% endblock %}