{% extends "base.html" %}
{% block title %} Easy_booking {% endblock %}
  {% block content %}
    <p class="lead">Поиск помещения</p>
    <form action="" method="POST" class="form-horizontal">
      <div class="control-group">
	    <label>Арендуем:</label>
	    <select>
	        <option>Футбольные поля</option>
	        <option>Конференц залы</option>
	        <option>Что то еще</option>
	    </select>
      </div>
      <div class="control-group">
	    <label>Стоимость:</label>
	    <input class="input-mini" type="text" name="min_price" placeholder="от">
	    <input class="input-mini" type="text" name="max_price" placeholder="до">
      </div>
      <div class="control-group">
        <label>Условия:</label>
	    <label class="checkbox">
	        <input type="checkbox" name="option1" value="grass">Трава
	    </label>
	    <label class="checkbox">
	        <input type="checkbox" name="option2" value="covered">Крытый
	    </label>
	    <label class="checkbox">
	        <input type="checkbox" name="option3" value="">И тд..
	    </label>
      </div>
      <div class="control-group">
	    <input type="submit" class="btn" value="Искать">
      </div>
    </form>
  {% endblock %}
