{% extends "base.html" %}
{% from "_formhelpers.html" import render_field,prefix_field %}
{% block title %} Войдите {% endblock %}
  {% block content %}
    <h2>[Войдите]</h2>
    <form method="POST" action={{ url_for('process_login') }}>
        <p class="text-error">
    	    {{error}}
        </p>
	    <dl>
	        {{ prefix_field(form.phone, "+7", True) }}
	        {{ render_field(form.password) }}
	    </dl>
        <div class="control-group">
	        <input type="submit" class="btn btn-primary" value="Войти">
	        <a class="btn" href={{ url_for('reg') }}>Еще не зарегистрированы?</a>
        </div>
     </form>
  {% endblock %}
 