{% extends "base.html" %}
{% block title %} Оповещения {% endblock %}
{% block content %}
    <h1>Оповещения</h1>
    <br>
    {% for provider in providers %}
        <p>Пользователь <a href={{ url_for("user_info", id=provider.dic['_id']) }}>{{ provider.dic['name'] }}</a> c номером {{ provider.dic['phone'] }}  хочет предоставлять поле</p>
        <a class="btn btn-primary" href={{ url_for('accept_provider', id=provider.dic['_id']) }}>Принять</a>
        <a class="btn btn-danger" href={{ url_for('decline_provider', id=provider.dic['_id']) }}>Отменить</a>
    {% endfor %}
    <p></p>
{% endblock %}