{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, prefix_field %}
{% block title %} Регистрация {% endblock %}
  {% block content %}
    <h2>[Регистрация]</h2>
    <br>
    <form method="POST" action="{{ url_for('process_reg') }}">
        <dl>
            {{ render_field(form.username) }}
            {{ prefix_field(form.phone, "+7", True) }}
            <p class="text-error">{{ error }}</p>
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
        </dl>
        <input type="submit" value="Зарегистрироваться" class="btn btn-primary">
    </form>
  {% endblock %}