{% extends "base.html" %}
{% block title %} {{ user.dic['name'] }} {% endblock %}
{% block content %}
    <h1>Пользователь {{ user.dic['name'] }}</h1>
    <p><b>Номер телефона:</b> {{ user.dic['phone'] }} </p>
    <a class="btn btn-primary">Сделать владельцем</a>
    <a class="btn btn-danger">Удалить</a>
{% endblock %}